<h2>Font size editor</h2>

<div>
  <label>Enter font size (px):</label>
  <input type="number" [value]="fontSize" (change)="onChange($event.target.value)">
</div>

<p class="output" [style.fontSize.px]="fontSize" align="center"  >
  Ca khúc: Chống giặc Corona
  <br><br>
  Đại dịch Corona đang truyền vào trong nước ta
  <br>
  Đánh giặc Corona vì cuộc sống cho muôn nhà
  <br>
  Không đến nơi đông người để dịch bệnh dễ lan ra
  <br>
  Nghi nhiễm cần kịp thời mau đi khám, cách ly xa.
  <br>
  <br>
  Đánh giặc Corona.
  <br>
  Đoàn kết toàn dân ta
  <br>
  Đánh giặc Corona.
  <br>
  Từ trẻ đến người già
  <br>
  Đánh giặc Corona.
  <br>
  Ngành Y là xung kích
  <br>
  Thề quyết thắng đại dịch.
  <br>
  Hòa chung một bài ca.

</p>
