body{
    margin: 10px;
    width: 100%;
}
#head{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    padding: 35px;
    /*font-size: 17px;*/
}
#head-link{
    width: 100%;
    padding: 22px;
    position: fixed;
    background: aqua;
    top: 105px;
    /*font-size: 17px;*/
}
#left{
    width: 10%;
    padding: 50px 15px 340px 50px;
    position: fixed;
    top: 155px;
    background: antiquewhite;
    /*font-size: 17px;*/
}
#content{
    width: 60%;
    position: fixed;
    background: chartreuse;
    top: 155px;
    margin-left: 210px;
    padding: 50px 15px 340px 41px;
    /*font-size: 17px;*/
}
#right{
    width: 10%;
    padding: 50px 70px 340px 50px;
    position: fixed;
    top: 155px;
    background: chocolate;
    right: 5px;
    /*font-size: 17px;*/
}
#footer{
    bottom: 5px;
    width: 100%;
    padding: 35px;
    position: fixed;
    background: aqua;
    /*font-size: 17px;*/
    ;
}